@import url('./common.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  color: rgba(144,85,210,1);
}

body {
  display: flex;
  /* background: rgb(117,151,204);
  background: linear-gradient(90deg, rgba(117,151,204,1) 0%, rgba(66,121,179,1) 0%, rgba(195,171,223,1) 100%); */
  background: rgb(52,83,130);
  background: linear-gradient(273deg, rgba(52,83,130,1) 0%, rgba(89,85,189,1) 0%, rgba(150,111,194,1) 100%);
  /* background: rgb(10,20,34);
  background: linear-gradient(273deg, rgba(10,20,34,1) 0%, rgba(26,221,226,1) 0%, rgba(144,85,210,1) 100%); */
}

h1 {
  color: rgba(144,85,210,1);
  font-weight: 500;
  margin: .5em 0;
}

form {
  position: relative;
  max-width: 26em;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em auto;
  box-shadow: 0 3px 3px rgb(144, 129, 150);
  padding: 1em 2.5em;
  box-sizing: border-box;
}

form:after {
  position: absolute;
  content: '';
  width: .7em;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
}

/* Novo style criado */
small {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #E9554EBB;
}


input {
  position: relative;
  width: 100%;
  height: 60%;
  padding: 3em .5em;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: .2em;
  top: 5%;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 1.1rem 0.3rem;
  font-size: 1.2rem;
  color: #555
}

/* input:focus {
  outline: none;
  border: 1px solid lightgrey;
} */

label {
  width: 100%;
  font-weight: 300;
  margin-bottom: -.1em;
  margin-top: 1em;
  font-size: .8em;
}

button {
  display: block;
  width: 100%;
  height: 40%;
  border-radius: 5px;
  margin: 1rem 0;
  padding: .5em .3em;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  font-weight: 400;
  font-size: 1em;
  transition: .6s;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .6s;
}

a:hover {
  color: #7898FF;
}

.form-header {
  color: grey;
  font-size: 2em;
}

.signin {
  text-align: center;
}

.left {
  width: 50%;
  /* background-color: white; */
  text-align: center;
  display: flex;
  align-items: center
  justify-content: center;
}

.left img {
  width: 60%;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  margin: 10px 0px;
  padding: 2px 2px;
  border-bottom: 2px solid #d9d9d9;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 20%;
}

.input-div:after, .input-div:before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #7898FF;
  transition: .8s;
}

.input-div:after{
  right: 50%;
}

.input-div:before{
  left:50%;
}

.input-div.focus label h5{
  top: -5px;
  font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before{
  width: 50%;
}

.input-div.one {
  margin-top: 0;
}

.input-div.two {
  margin-bottom: 4px;
}

.input-div>label {
  position: relative;
  height: 40px;
}

.input-div>label h5 {
  position: absolute;
  left: 5px;
  top: 48%;
  transform: translateY(-50%);
  color: #999;
  font-size: 15px;
  transition: .3s;
}


@media screen and (max-width: 1050px) {
  .left {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  form h1 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .left img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .left {
    display: none;
  }

  img {
    grid-template-columns: 1fr;
  }

  .right {
    justify-content: center;
    margin-left: 25%;
  }
}
