@import url('./common.css');
header {
  display: flex;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  box-shadow: 0px 3px 5px lightgrey;
  padding: 0 3em;
  margin-bottom: 2em;
  height: 3.5em;
}

a {
  display: block;
  width: fit-content;
  padding: .7em 1em;
  border-bottom: 2px solid white;
  text-decoration: none;
  color: white;
  transition: .6s;
}
a:hover {
  color: #b9b9b9;
  border-bottom: 2px solid #b9b9b9;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(223, 223, 223);
}

.user-info p {
  text-transform: capitalize;
}

.user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
  margin-left: 0.7em;
}

#closeApp {
  margin-left: 15px;
  font-size: 0.7em;
  background-color: rgb(218, 88, 88);
  color: white;
  border-radius: 50vh;
  padding: 5px 10px;
  cursor: pointer; /*cursor de mãozinha no finalizar sessão*/
}
/*Search to-dos*/
.searchBox {
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 0.2em;
  height: 2.5em;
}

/* Nova tarefa ----------------------------------------------------------- */


label {
  width: 97%;
  font-weight: 300;
  margin-bottom: -.1em;
  margin-top: 1em;
  font-size: .8em;
  
}
/* input {
  position: relative;
  width: 100%;
  height: 60%;
  padding: 3em .5em;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: .2em;
  top: 5%;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 1.1rem 0.3rem;
  font-size: 1.2rem;
  color: #555
} */

.nova-tarefa {
  position: relative;
  display: flex;
  grid-template-columns: 100%;
  align-items: center;
  width: 80%;
  margin: 0 10%;
  padding: 2px 2px;
  border-bottom: 2px solid #d9d9d9;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 20%;
}

.nova-tarefa:after,
.nova-tarefa:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #7898FF;
  transition: .6s;
}

.nova-tarefa:after {
  right: 50%;
}

.nova-tarefa:before {
  left: 50%;
}

.nova-tarefa.focus label h5 {
  top: -5px;
  font-size: 15px;
}

.nova-tarefa.focus:after,
.nova-tarefa.focus:before {
  width: 50%;
}

.nova-tarefa.one {
  margin-top: 0;
}

.nova-tarefa.two {
  margin-bottom: 4px;
}

.nova-tarefa>label {
  position: relative;
  height: 40px;
}

.nova-tarefa>label h5 {
  position: absolute;
  left: 40px;
  top: 60%;
  transform: translateY(-70%);
  color: #999;
  font-size: 15px;
  transition: .5s;
}

/* .nova-tarefa {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 0 10%;
  padding: 1em;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: .2em;
  z-index: 20;
}
/* 
.nova-tarefa input[type=text] {
  border: none;
  flex: 1;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: .3em;
  font-size: 1.1em;
}

.nova-tarefa input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
  color: rgb(197, 197, 197);
  text-indent: .2em;
} */

.nova-tarefa button {
  position: absolute;
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: .5em;
  margin-top: .5em;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: width 2s, height 2s,  -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
}

.nova-tarefa button:hover {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  /* color: #7898FF; */
}

.nova-tarefa button img {
  height: 100%;
  width: 100%;
} 

.not-done {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
}

/* Lista de tarefas ----------------------------------------------------------- */

.tarefas-pendentes {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.edit {
  cursor: pointer;
  /* margin-right: 10px;   */
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.tarefa {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.tarefa .not-done {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border: 2px solid var(--secondary);
  z-index: 2;
  transition: background-color 200ms linear;
}

.tarefa .not-done:hover {
  background-color: var(--secondary);
}

.tarefa:first-child .not-done::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
}

.tarefa:not(:last-child) .not-done::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(0.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--secondary);
}

.tarefa .descricao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 5px lightgrey;
}

.tarefa .nome {
  color: rgb(95, 95, 95);
}

.tarefa .timestamp {
  font-size: 0.9em;
  color: rgb(134, 134, 134);
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: 10px;
}

/* Tarefas terminadas ----------------------------------------------------------- */

.titulo-terminadas {
  position: relative;
  width: 8em;
  text-align: center;
  padding: 0.5em 1em;
  background-color: white;
  border-radius: 0.2em;
  box-shadow: 3px 3px 5px lightgrey;
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 1.1em;
  margin-left: calc(15% - 4em);
  z-index: 20;
}

.tarefas-terminadas {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.tarefas-terminadas i {
  color: grey;
  background-color: rgb(228, 228, 228);
}
.tarefas-terminadas button {
  margin-left: 10px;
}

.tarefas-terminadas .tarefa .descricao {
  background-color: rgb(228, 228, 228);
}

.tarefas-terminadas .tarefa .descricao .nome {
  color: grey;
  text-decoration: line-through;
}

#skeleton .descricao {
  background-color: rgb(189, 189, 189);
}
#skeleton p {
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
}
#skeleton .not-done {
  background-color: rgb(189, 189, 189);
}

#skeleton {
  animation: trasparencia 1s infinite;
}
@keyframes trasparencia {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

/* botao search css */
/* From uiverse.io by @alexruix */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(76, 210, 234, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
